/* Estilos generales */
.titulo-sedes {
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding-bottom: 10px;
    /* Aumentar separación de la línea */

    /* Añade una línea inferior */
}


.titulo-sedes h2 {
    color: #3190f0;
    font-size: 185%;
    font-weight: bold;
    /* Color del texto */
}


.talento-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.talento-card {
    width: 300px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.talento-card-image {
    width: 100%;
    height: 370px;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.talento-card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: transform 0.5s ease-in-out;
}

.talento-card-image img:hover {
    transform: scale(1.1);
}

.talento-card-info {
    padding: 20px;
    height: 120px;
    background-color: #283593;
    /* Cambiado el color de fondo */
    color: white;
    /* Cambiado el color del texto */
    font-family: Arial, sans-serif;
    /* Aplicada la nueva fuente */
}

.talento-card-info h2 {
    font-size: 16px;
    /* Tamaño ajustado según el diseño */
    font-weight: bold;
    margin-bottom: 10px;
    color: white;
    /* Asegura que el título sea visible */
}

.talento-card-info p {
    font-size: 14px;
    color: #1ae84ee3;
    /* Puedes ajustar si deseas otro contraste */
    margin: 0;
}

.name {
    font-size: 24px;
    font-weight: bold;
}




/* Animación al pasar el mouse sobre la tarjeta */
.talento-card:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    transition: transform 0.5s ease-in-out;
}

.talento-container h4 {
    color: #337ab7;
    font-size: 24px;
    margin-bottom: 20px;
}

.carta .container {
    max-width: 800px;
    /* Ancho máximo del contenedor */
    margin: 40px auto;
    /* Margen superior e inferior, y centrado */
}

.carta .carta-section {
    background-color: #f9f9f9;
    /* Fondo claro */
    padding: 20px;
}

.carta .carta {
    background-color: #fff;
    /* Fondo blanco */
    padding: 20px;
    border: 1px solid #ddd;
    /* Borde gris claro */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* Sombra leve */
}

.carta .carta-titulo {
    font-size: 24px;
    /* Tamaño de título */
    font-weight: bold;
    /* Negrita */
    margin-bottom: 10px;
    /* Margen inferior */
}

.carta .carta-cuerpo {
    font-size: 18px;
    /* Tamaño de texto */
    margin-bottom: 20px;
    /* Margen inferior */
}

.carta .carta-firma {
    font-size: 18px;
    /* Tamaño de texto */
    font-weight: bold;
    /* Negrita */
    margin-top: 20px;
    /* Margen superior */
}

.carta .carta-firma strong {
    font-size: 20px;
    /* Tamaño de nombre */
}