@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Quicksand:wght@300..700&display=swap');


/* Estilos generales */
.titulo-sedes {
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin: 0;
    padding-bottom: 10px;
    /* Aumentar separación de la línea */
    padding: 0;

    /* Añade una línea inferior */
}


.titulo-sedes h2 {
    color: var(--primary-blue);
    font-size: 185%;
    font-weight: bold;
}


/* Contenedor principal para el diseño de periódico */
.newspaper-container {
    font-family: 'Open Sans', sans-serif;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para el encabezado de cada noticia */
.newspaper-container .cabeza h1 {
    font-size: 26px;
    font-family: "Fjalla One", sans-serif;
    line-height: 1.3;
    font-weight: bold;
    color: #222;
    margin: 0;
    padding: 0;
}

/* Fecha de publicación con estilo sobrio */
.newspaper-container .cabeza .date {
    font-size: 14px;
    color: #888;
    margin-top: 5px;
}

/* Estilo de la sección de imagen */
.newspaper-container .image-section {
    text-align: center;
    margin: 15px 0;
}

.newspaper-container .news-image {
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.15);
}

/* Estilos para el contenido del artículo */
.newspaper-container .content p {
    line-height: 1.8;
    color: #555;
    margin: 15px 0;
    text-align: justify;
}

/* Primer párrafo destacado */
.newspaper-container .content p:first-of-type {
    font-weight: bold;
    font-style: italic;
    color: #333;
}

/* Efectos de transición para modernidad */
.newspaper-container:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}



#mision-vision {
    background-color: #f8f9fa;
    /* Color de fondo suave */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    padding: 30px 15px;
    /* Espaciado interno */

}

#mission-vision .container {
    max-width: 1200px;
    /* Ancho máximo del contenedor */
    margin: auto;
    /* Centrar el contenedor */
}


.text-center {
    text-align: center;
    /* Centrar el texto */
}

@media (max-width: 768px) {
    p {
        font-size: 0.9rem;
        /* Tamaño del texto en pantallas pequeñas */
    }
}