.titulo-sedes {
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0;
}

.titulo-sedes h2 {
    color: #3190f0;
    font-size: 185%;
    font-weight: bold;
}

.rounded-image {
    border-radius: 15px;
    /* Ajusta este valor según tu preferencia */
}


#mision-vision {
    background-color: #f8f9fa;
    /* Color de fondo suave */
    border-radius: 10px;
    /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    padding: 30px 15px;
    /* Espaciado interno */
}

#mission-vision .container {
    max-width: 1200px;
    /* Ancho máximo del contenedor */
    margin: auto;
    /* Centrar el contenedor */
}


.text-center {
    text-align: center;
    /* Centrar el texto */
}

@media (max-width: 768px) {
    p {
        font-size: 1rem;
        /* Tamaño del texto en pantallas pequeñas */
    }
}