:root {
    --primary-color: #1a237e;
    --secondary-color: #2e7d32;
    --accent-color: #d32f2f;
    --light-color: #f4f4f4;
    --dark-color: #333;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    line-height: 1.6;
    background-color: var(--light-color);
    color: var(--dark-color);
}

.line-break {
    display: block;
    /* Fuerza que cada span se muestre en una nueva línea */
    text-align: center;
    /* Opcional: centra el texto dentro del enlace */
    margin: 0;
    /* Ajusta el margen según sea necesario */
}





.custom-header {
    position: relative;
    /* Asegura que el header tenga un contexto de apilamiento */
    z-index: 1000;
    /* Ajusta el valor según sea necesario */
}

.navbar-icons {
    display: flex;
    justify-content: right;
    padding-bottom: 20px;
}

.navbar-icons i {
    font-size: 32px;
    margin: 0 10px;
    vertical-align: middle;
}

.navbar-iconsfooter {
    display: flex;
    justify-content: center;
    padding-bottom: 20px;
}


header {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 0.5rem 0;
    position: relative;
    height: 205px;
    font-family: "DynaPuff", sans-serif;
}

.header2 {
    background: var(--accent-color);
    color: var(--light-color);
    padding: 0.5rem 0;
    position: relative;
    height: 205px;
    font-family: "DynaPuff", sans-serif;
}





@media (max-width: 480px) {
    header {
        height: 175px;
        /* Ajusta la altura para pantallas muy pequeñas */
    }

    .sectionslider {
        height: 430px !important;
    }


}

/* Estilos generales para la sección */
#nosotros {
    background-color: #f9f9f9;
    /* Color de fondo suave */
    padding: 40px 20px;
    /* Espaciado interno */
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra sutil */
    margin: 20px 0;
    /* Margen vertical */
}

#nosotros .container {
    max-width: 800px;
    /* Ancho máximo */
    margin: 0 auto;
    /* Centrar horizontalmente */
    padding: 20px;
    /* Espaciado interno del contenedor */
}

#nosotros h2 {
    font-size: 2em;
    /* Tamaño de fuente del título */
    color: #333333;
    /* Color del texto del título */
    margin-bottom: 20px;
    /* Espaciado debajo del título */
    text-align: center;
    /* Centrar el título */
}

#nosotros p {
    line-height: 1.6;
    /* Espaciado entre líneas */
    color: #555;
    /* Color del texto */
    font-size: 1.1em;
    /* Tamaño de fuente del párrafo */
    text-align: justify;
    /* Alinear el texto justificadamente */
    margin-bottom: 20px;
    /* Espaciado debajo del párrafo */
}

#nosotros p:last-of-type {
    margin-bottom: 0;
    /* Eliminar margen en el último párrafo */
}

@media (max-width: 768px) {
    #nosotros {
        padding: 30px 15px;
        /* Ajustar el espaciado en pantallas más pequeñas */
    }

    #nosotros h2 {
        font-size: 1.5em;
        /* Reducir el tamaño del título en pantallas pequeñas */
    }

    #nosotros p {
        font-size: 1em;
        /* Ajustar el tamaño de la fuente del párrafo */
    }
}


@media (max-width: 480px) {
    .anuncio {
        width: 100% !important;
        /* La imagen ocupa todo el ancho del contenedor */
        height: 60px !important;
        /* Mantiene la proporción */

        /* Limita la altura máxima */

        /* Cubre el contenedor sin distorsionar */
    }
}


/* Estilos específicos para pantallas pequeñas */
@media (max-width: 480px) {
    .encabezado {
        margin-top: 30px;
    }
}


header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* Ajustado para evitar problemas de diseño */
}

.navbar {
    margin-top: 0px;
    position: relative;
}

.logo-container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

header .logo img {
    width: 165px;
    height: auto;
    margin-top: -30px;
}

/* Consulta de medios para pantallas de hasta 600px de ancho */
@media (max-width: 600px) {
    header .logo img {
        width: 165px;
        /* Tamaño del logo en pantallas pequeñas */
        margin-top: -5px;
        margin-left: 50px;
        /* Ajusta el margen si es necesario */
    }

    .titulo {
        font-size: 20px;
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
    .titulo {
        font-size: 23px;
    }
}

/* Consulta de medios para pantallas de hasta 400px de ancho */
@media (max-width: 768px) {
    header .logo img {
        width: 120px;
        /* Tamaño del logo en pantallas aún más pequeñas */
        margin-top: -40px;
        /* Ajusta el margen si es necesario */
    }
}

.hero h1 {
    font-size: 3rem;
    border-bottom: 2px solid var(--accent-color);
    color: var(--secondary-color);
}

header nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    /* Añadido para eliminar padding por defecto */
    margin: 0;
    /* Añadido para eliminar margin por defecto */
}

header nav ul li {
    margin: 0 1rem;
    padding: 5px;
}

header nav ul li a {
    color: var(--light-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    transition: color 0.3s ease;
    margin-right: -30px;
    font-family: "DynaPuff", sans-serif;
}






.ti-brand-facebook::before {
    width: 48px;
    height: 48px;
    content: "\ec1a";

}

.sectionslider {
    border-radius: 10px;


}

/* Media query para pantallas pequeñas */


/* Estilo para los enlaces de la barra de navegación principal */
.navbar-nav .nav-link {
    color: #ffffff;

    /* Cambia al color blanco */
}


/* Estilo para los enlaces del submenú */
.navbar-nav .dropdown-menu .dropdown-item {
    color: #ffffff;
    font-size: 16px;
    text-align: center;
    background-color: var(--secondary-color);

}

/* Cambia el color del texto y el fondo al pasar el ratón por encima */
.navbar-nav .dropdown-menu .dropdown-item:hover {
    color: var(--primary-color);
    background-color: var(--accent-color);
    border-radius: 10px;
    padding: 4px;

}

/* Asegúrate de que el submenú tenga un fondo oscuro */
.navbar-nav .dropdown-menu {
    background-color: var(--secondary-color);
}

@media (max-width: 768px) {
    .navbar-nav .dropdown-menu {
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(-100%);
        width: 100%;
        background-color: var(--secondary-color);
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
        
    }

   

    .navbar-nav .dropdown-menu.show {
        transform: translateX(-10%);
        opacity: 1;
        
    }

    /* Ocultar la flecha desplegable en pantallas pequeñas */
    .navbar-nav .dropdown-toggle::after {
        display: none;
    }

    .navbar-nav .dropdown-toggle:focus {
    outline: none !important;
    
    }


    .custom-submenu {
        width: 200px;
        /* Ajusta el valor según tus necesidades */
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .navbar-nav .dropdown-menu {
        position: absolute;
        display: none;
        width: 50%;
    }

    .navbar-nav .dropdown-menu.show {
        display: block;
        outline: none;
        box-shadow: none;
    }

    /* Ocultar la flecha desplegable en pantallas grandes */
    .navbar-nav .dropdown-toggle::after {
        display: none;
    }
}




@media (max-width: 768px) {
    header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: -30px;
        background: var(--primary-color);
        width: auto;
        text-align: center;
        padding: auto;
        padding-right: 50px;
        padding-left: 50px;
        border-radius: 10px;
    }

    header nav ul.active {
        display: flex;
        outline: none;
        box-shadow: none;
    }

    header nav ul li {
        margin: 0.25rem 0;
        padding: 0.5px;
        outline: none;
        box-shadow: none;
        /* Añadido para mejor espacio entre elementos */
    }

    .nav-link:focus {
        outline: none;
    }
    
    .menu-toggle {
        display: flex;
        align-items: stretch;
        justify-content: center;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        outline: none;
        box-shadow: none;

    }

    .menu-toggle span {
        display: block;
        width: 25px;
        height: 3px;
        background: var(--light-color);
        margin: 5px 0;
        outline: none;
        box-shadow: none;
    }
}

.hero {
    background: url('hero.jpg') no-repeat center center/cover;
    color: var(--light-color);
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 1rem;
}

.hero h1 {
    font-size: 3rem;
    border-bottom: 2px solid var(--accent-color);
}

.about, .programs, .news, .contact {
    padding: 2rem 0;
}

.about .container, .programs .container, .news .container, .contact .container {
    text-align: center;
}

.programs-grid, .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.program, .news-item {
    background: var(--light-color);
    padding: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.program:hover, .news-item:hover {
    transform: scale(1.05);
}

.program h3, .news-item h3 {
    color: var(--secondary-color);
}

.contact form {
    display: grid;
    gap: 1rem;
}

.contact .form-group {
    display: flex;
    flex-direction: column;
}

.contact .form-group label {
    margin-bottom: 0.5rem;
}

.contact .form-group input, .contact .form-group textarea {
    padding: 0.5rem;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
}

.contact button {
    padding: 0.7rem;
    background: var(--primary-color);
    color: var(--light-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.contact button:hover {
    background: var(--accent-color);
}

footer {
    background: var(--primary-color);
    color: var(--light-color);
    text-align: center;
    padding: 1rem 0;
}

section {
    padding: 2rem 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

section h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.color1 {
    color: red;
    /* Ajusta el color según tus necesidades */
}

.color2 {
    color: blue;
    /* Ajusta el color según tus necesidades */
}

.color3 {
    color: green;
    /* Ajusta el color según tus necesidades */
}

.custom-navbar {
    background: linear-gradient(to right, rgba(255, 255, 255, 0.8), blue);
    /* O puedes usar colores hexadecimales */
    /* background: linear-gradient(to right, #ffffff, #0000ff); */
}

/* Opcional: Ajustar los colores del texto para mejor visibilidad */
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #ddd;
}

.custom-ul-padding {
    padding-left: 20px;

}

.logo-move-left {
    margin-left: -5px;
    /* Ajusta el valor según sea necesario */
}

.swiper {
    width: 600px;
    height: 300px;
    position: relative;
    /* Asegura que el carrusel tenga un contexto de apilamiento */
    z-index: 1;/
}





html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: "Quicksand", system-ui !important;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    font-weight: 500 !important;
    /* Puedes usar 600 o bold, pero no ambos */
}


/* Contenedor principal de Swiper */
.swiper {
    width: 100%;
    height: 100%;
}





/* Estilo para cada slide dentro del Swiper */
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Estilo para las imágenes dentro de cada slide */
.swiper-slide img {
    display: block;
    width: 100%;
    height: 460px;
    object-fit: cover;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}



footer {
    background: var(--primary-color);
    color: var(--light-color);
    padding: 1rem 2rem;
    /* Ajusta los márgenes internos */
    position: relative;
    height: auto;
    /* Cambiado a auto para permitir ajuste dinámico */
    min-height: auto;
    /* Altura mínima para mantener la estructura */
    font-family: "Lato", sans-serif !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 700 !important;
    /* Peso de fuente ajustado */
    font-size: 1rem;
    /* Tamaño de fuente ajustado */

}

/* Media Query para pantallas pequeñas */
@media (max-width: 768px) {
    footer {
        padding: 1rem;
        /* Reduce el padding en pantallas pequeñas */
        min-height: 150px;
        /* Ajusta la altura mínima */
    }
}

/* Media Query para pantallas muy pequeñas (móviles) */
@media (max-width: 480px) {
    footer {
        padding: 0.5rem;
        /* Aún menos padding para móviles */
    }
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    /* Reduce el espacio entre los bloques */
    padding: 0;
}

.footer-block {
    display: flex;
    flex-direction: column;
    padding: 10px;
    /* Añade un pequeño padding para el contenido interno */
}

.footer-block p {
    margin: 2px 0;
    /* Reduce el margen entre los párrafos */
}

.footer-block h4 {
    margin-bottom: 5px;
    /* Reduce el margen inferior del encabezado */
}

.navbar-iconsfooter {
    display: flex;
    gap: 8px;
    /* Reduce el espacio entre los íconos */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /* Centra el contenedor */
    padding: 0 10px;
    /* Añade un poco de padding a los lados */
}

@media (max-width: 768px) {
    .footer-grid {
        grid-template-columns: 1fr;
        /* Cambia a una sola columna en pantallas pequeñas */
    }

    .navbar-iconsfooter {
        justify-content: flex-start;
        /* Alinea los íconos a la izquierda en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .footer-block p {
        font-size: 14px;
        /* Reduce el tamaño de fuente en pantallas muy pequeñas */
    }

    .navbar-iconsfooter svg {
        width: 24px;
        /* Reduce el tamaño de los íconos en pantallas muy pequeñas */
        height: 24px;
    }

    .footer-block {
        align-items: flex-start;
        /* Alinea los elementos al inicio del contenedor */
    }
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 40%;
    /* Ajusta el aspecto del mapa */
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    border-radius: 10px;
    /* Redondea las esquinas del iframe */
    border: none;
    /* Elimina el borde del iframe */
}

@media (max-width: 768px) {
    .map-container iframe {
        height: 100%;
        /* Ajusta el iframe para que ocupe todo el contenedor en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .map-container iframe {
        height: 80%;
        /* Ajusta la altura para pantallas muy pequeñas */
        border-radius: 5px;
        /* Reduce el redondeo de las esquinas para pantallas más pequeñas */
    }
}


.program {
    position: relative;
    left: 0;
    /* Necesario para que el objeto decorativo se posicione dentro de este contenedor */
    padding: 20px;
    background-color: var(--light-color);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.decorative-corner {
    width: 40px;
    /* Ajusta el tamaño según tu preferencia */
    height: 40px;
    background-color: #1F6099;
    /* Elige el color que prefieras */
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px 0 20px 0;
    /* Redondeo de una esquina */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra para darle un poco de profundidad */
}

.decorative-corner2 {
    width: 40px;
    height: 40px;
    background-color: #b5cc42;
    position: absolute;
    top: 0;
    /* Mantener en la parte superior */
    left: 0;
    border-radius: 4px 0 20px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: -1;
    /* Coloca el cuadrado detrás del título */
}